<div class="about-headers">
    <div class="header" routerLink="personalDetails/{{userid}}" >about</div>
    <div class="header" routerLink="companyDetails/{{userid}}">company</div>
</div>
<router-outlet></router-outlet>