<h1>USERS AND PRODUCTS</h1>
<div class="container">
  <div class="side-bar">
    <button routerLink="users">Users</button>
    <button routerLink="products">products</button>
  </div>
  <div class="display-details">
    <router-outlet></router-outlet>
  </div>
</div>