h1{
    text-align: center;
}
.container{
    display:flex;
    background-color: rgb(171, 162, 162);
    min-height: 100vh;
}
.side-bar{
    flex-grow:1;
    display: flex;
    flex-direction:column;
    border:2px solid white;
    justify-content:center;
}
.display-details{
    flex-grow: 4;
    display:flex;
    justify-content:flex-start;
    align-items: center;
}
