<div class="user-details">
    <div class="user-list">
        <div *ngFor="let user of users">
            <div  routerLink="about/{{user.id}}" class="userName">{{user.name}}</div>
        </div>
    </div>
 

    <div class="details-container">
        <router-outlet></router-outlet>
    </div>
</div>
