.user-details{
    display:flex;
}
.user-list{
    flex-grow: 1;
}
.userName{
    flex-grow:1;
    padding:1rem;
    background-color: antiquewhite;
    border:1px solid black;
    border-radius:4px;
    margin:1rem;
}
.details-container{
    flex-grow:2;
    display:flex;
    justify-content: center;
    align-items: center;
}
