<div class="about-container">
    <p>name:{{ userDetails.name }}</p>
    <p>id:{{ userDetails.id }}</p>
    <p>phone:{{ userDetails.phone }}</p>
    <p>website:{{ userDetails.website }}</p>
    <p>Address:</p>
    <p>street:{{ userDetails.address.street }}</p>
    <p>suite:{{ userDetails.address.suite }}</p>
    <p>city:{{ userDetails.address.city }}</p>
    <p>zipcode:{{ userDetails.address.zipcode }}</p>
</div>