<div class="company-details-container">
    <p>company name :{{userDetails.company.name}}</p>
    <p>company bs:{{userDetails.company.bs}}</p>
    <p>company catchPhrase :{{userDetails.company.catchPhrase}}</p>
</div>
