<div class="product-headers">
    <div class="header" routerLink="products" >productsDetails</div>
    <div class="header" routerLink="stocks">stockDetails</div>
</div>
<router-outlet></router-outlet>
