.product-headers{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}
.headers{
    margin:1rem;
    padding: 1rem;
    border:1px solid black;
    border-radius:4px;
}